.title .header {
    margin-top: 20px;
    /* margin-bottom: 5px; */
    color: var(--background-nav);
    font-size: 3rem;
    text-align: center;
}

.dsc h3 {
    /* margin-bottom: 15px; */
    color: #000000;
    font-size: 1.5rem;
    text-align: center;
}

.lines .line1 {
    width: 10%;
    margin: 4px auto;
    border-color: #07165e;
}

.line2 {
    width: 20%;
    margin: 4px auto;
    border-color: #1714b1;
}

.line-page {
    border-bottom: 4px solid #f5f3f3;
}

/* Body and Section */

section {
    padding: 60px 10%;
    background-color: var(--background-body);
    margin: 35px auto;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    font-size: 24px;
    max-width: 1200px;
    padding: 0px 20px;
}

section {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.8s ease;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* About Container */
.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
}

.container1 img {
    width: 300px;
    max-width: 100%;
    border-radius: 15px;
    /* border: 5px double var(--background-nav); */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.897);
    animation: slideFromLeft 1.5s ease forwards;
    margin-right: 3rem;
}

.container1 .text {
    flex: 1;
    font-size: 24px;
    line-height: 1.8;
    color: #3e2723;
    animation: slideFromRight 1.5s ease forwards;
}

.container1 .text h2, .container1 .text p, .container1 .text ul li, .container1 .text h4, .container1 .text strong {
    color: #000;
}

button {
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--background-nav);
    color: #fff;
    transition: 0.6s ease;
    margin-top: 30px;
    border-radius: 30px;
}

button:hover {
    background-color: var(--hover-nav-buttons);
    color: #000;
    cursor: pointer;
}



/* Responsive */
@media (max-width: 768px) {
    .container1 {
        flex-direction: column;
        text-align: center;
    }

    .container1 img {
        margin-bottom: 20px;
    }

    .container1 .text {
        transform: translateX(0);
    }
}