div.back {
   background-color: rgba(168, 168, 168, 0.728);
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 0 0 50px 0;
}

div.part-1 {
   width: 50%;
   height: 25vh;
   color: black !important;
   border-radius: 50px;
   box-shadow: 4px 4px 4px 4px rgba(85, 85, 85, 0.7);
   text-align: center;
   margin-top: 20px;
   padding: 20px 0 0 0;
   background-color: rgb(247, 247, 247);
   border: 3px solid var(--background-nav);
   animation: down 1s ease-in-out;
}

div.part-1 h1 {
   color: var(--background-footer);
   margin-bottom: 20px;
}

div.part-1 p {
   color: #000;
   font-size: 1.2rem;
}


@keyframes down {
   0% {
      opacity: 0;
      transform: translateY(-70px);
   }

   50% {
      opacity: 0.0;
      transform: translateY(20px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }

}

.card {
   width: 70%;
   height: 7.5rem;
   border-radius: 50px;
   border: 3px solid var(--background-nav);
   box-shadow: 4px 4px 4px 4px rgba(85, 85, 85, 0.7);
   text-align: center;
   margin-top: 20px;
   background-color: rgb(218, 218, 218);
}

.card1 {
   display: flex;
   animation: card1 1.2s ease-in-out;
}

@keyframes card1 {
   0% {
      opacity: 0;
      transform: translateX(-300px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

.card2 {
   display: flex;
   animation: card2 1.4s ease-in-out;
}

@keyframes card2 {
   0% {
      opacity: 0;
      transform: translateX(300px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

.card3 {
   display: flex;
   animation: card3 1.6s ease-in-out;
}

@keyframes card3 {
   0% {
      opacity: 0;
      transform: translateX(-300px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

.card4 {
   display: flex;
   animation: card4 1.8s ease-in-out;
}

@keyframes card4 {
   0% {
      opacity: 0;
      transform: translateX(300px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

.card5 {
   display: flex;
   animation: card5 2s ease-in-out;
}

@keyframes card5 {
   0% {
      opacity: 0;
      transform: translateX(-300px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

.card6 {
   display: flex;
   animation: card6 2.2s ease-in-out;
}

@keyframes card6 {
   0% {
      opacity: 0;
      transform: translateX(300px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

.card7 {
   display: flex;
   animation: card7 2.4s ease-in-out;
}

@keyframes card7 {
   0% {
      opacity: 0;
      transform: translateX(-300px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

.card8 {
   display: flex;
   animation: card8 2.6s ease-in-out;
}

@keyframes card8 {
   0% {
      opacity: 0;
      transform: translateX(300px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}


.card h4 {
   margin-top: 12px;
   margin-left: 35px;
   color: var(--background-nav);
}

.card p {
   margin-left: -175px;
   line-height: 25px;
   margin-top: 20px;
   color: #000;
}