header {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveRightX 1.2s ease-in-out;
}

header div.container-1 {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: end;
}

header div.container-1 div.card {
    width: 80%;
    height: 85%;
    background-color: var(--background-body);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--background-nav);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-direction: row;
}

header div.container-1 div.card>div.part:first-child {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div.container-1 div.card>div.part:first-child img {
    width: 80%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header div.container-1 div.card>div.part:nth-child(2) {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header div.container-1 div.card>div.part:nth-child(2) h2 {
    color: var(--background-nav);
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
}

header div.container-1 div.card div.part:nth-child(2) p {
    color: #000;
    font-size: 1.1rem;
    margin: 0px 0px 0 0px;
    padding: 20px;
}

/* -------------------- */

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
}

section div.section-text h2 {
    color: var(--background-nav);
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    animation: moveUpY 1.2s ease-in-out;

}

section>div.container-2 {
    width: 80%;
    height: 25vh;
    margin-top: 50px;
    background-color: var(--background-body);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--background-nav);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: moveUpX 1.2s ease-in-out;

}

section div.container-2>div.part {
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

section div.container-2>div.part:first-child {
    width: 20%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

}

section div.container-2>div.part:first-child img {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section div.container-2>div.part:nth-child(2) {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

section div.container-2>div.part:nth-child(2) div.text-container:first-child {
    width: 100%;
    height: 30%;
    display: flex;
}

section div.container-2>div.part:nth-child(2) div.text-container:first-child h2 {
    color: var(--background-nav);
    font-size: 1.5rem;
    padding: 0 10px;
    font-weight: 600;
}


section div.container-2>div.part:nth-child(2) div.text-container:nth-child(2) {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section div.container-2>div.part:nth-child(2) div.text-container:nth-child(2) p {
    color: #000;
    font-size: 1.1rem;
    margin: 0px 0px 0 0px;
    padding: 10px;
}

section div.container-2:last-child {
    width: 80%;
    height: 50vh;
    margin-top: 50px;
    background-color: var(--background-body);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--background-nav);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 30PX;
}

section div.container-2:last-child div.part {
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

section div.container-2:last-child div.part div.text-container:first-child {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

section div.container-2:last-child div.part div.text-container:first-child h2 {
    color: var(--background-nav);
    font-size: 2.5rem;
    padding: 0 10px;
    font-weight: 600;
}


section div.container-2:last-child div.part div.text-container:nth-child(2) {
    width: 80%;
    height: 60%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

section div.container-2:last-child div.part div.text-container:nth-child(2) p {
    font-size: 1.1rem;
    margin: 0px 0px 0 0px;
    padding: 10px;
    color: #000;
}