section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 87.5vh;
}


section div.container {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    padding: 20px;
    height: 90%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.07);
    display: flex;
    justify-content: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 10);
    animation: fadeInUp 2s ease-out forwards;
}

.image-container {
    flex: 1;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    animation: fadeInUp 0.8s ease-out forwards;
}

section div.container div.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    padding: 20px;
    animation: fadeInUp 0.8s ease-out forwards;
}


section div.container div.form-container div.part:first-child {
    width: 100%;
    height: 20%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;

}

section div.container div.form-container div.part:first-child h1 {
    color: var(--background-nav);
}

section div.container div.form-container div.part:nth-child(2) {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section div.container div.form-container div.part:nth-child(2) form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section div.container div.form-container div.part:nth-child(2):not(input) p {
    color: rgba(0, 0, 0, 0.816);
    font-size: 1.2rem;
}

section div.container div.form-container div.part:nth-child(2):not(input) a {
    color: var(--background-nav);
}


section div.container div.form-container div.part:nth-child(2):not(input) a:hover {
    color: var(--hover-nav-buttons);
}

section div.container div.form-container div.part:nth-child(2) label {
    margin-bottom: 0.5rem;
    color: var(--background-nav);
    font-weight: 600;
    font-size: 1.5rem;
}

section div.container div.form-container div.part:nth-child(2) input {
    width: 23rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: rgba(236, 232, 232, 0.854);
    border: none;
    padding: 0.5rem;
    margin: 0.5rem 0px 1rem 0px;
    font-size: 1.1rem;
    color: var(--background-nav);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

section div.container div.form-container div.part:nth-child(2) input:focus {
    outline: none;
    border: 2px solid #06010189;
    background-color: rgba(58, 56, 56, 0.854);
    box-shadow: #000 0px 0px 10px rgba(25, 25, 25, 0.749);
    color: #fff;
}

section div.container div.form-container div.part:nth-child(2) input:focus::placeholder {
    color: #d0cfcf;
}

section div.container div.form-container div.part:nth-child(2) input[type="submit"] {
    background-color: rgb(230, 227, 227);
    margin: 2rem 0px 0px 0.5%;
    height: 2.7rem;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

section div.container div.form-container div.part:nth-child(2) input[type="submit"]:hover {
    background-color: rgba(182, 182, 182, 0.854);
    color: #000;
    border: #000 solid 1px;
}