header {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
}

header div.header-container {
    width: 90%;
    height: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

header div.header-container div.header-content {
    width: 75%;
    height: 10%;
    text-align: center;
    display: flex;
    padding: 0 0 10px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 248, 248, 0.463);
    color: #000;
    box-shadow: 0 0 10px rgb(20, 20, 18);
    border-radius: 10px;
    margin-bottom: 20px;
    animation: moveUpY 1.2s ease-in-out;

}

header div.header-container div.header-content h1 {
    color: var(--background-nav);
    font-size: 2.5rem;
}

header div.header-container div.header-content p {
    color: #000;
    font-size: 1.2rem;
}

header div.header-container div.header-cards {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

header div.header-container div.header-cards div.card {
    width: 40%;
    height: 47%;
    padding: 30px 0 20px 0;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(236, 233, 233);
    box-shadow: 0 0 10px rgb(20, 20, 18);
}

header div.header-container div.header-cards div.card:nth-child(1) {
    animation: moveRightX 1.3s ease-in-out;
}

header div.header-container div.header-cards div.card:nth-child(2) {
    animation: moveLeftX 1.3s ease-in-out;
}

header div.header-container div.header-cards div.card:nth-child(3) {
    animation: moveRightX 1.3s ease-in-out;
}

header div.header-container div.header-cards div.card:nth-child(4) {
    animation: moveLeftX 1.3s ease-in-out;
}



header>div.header-container>div.header-cards>div.card>div.card-content:first-child {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55%;
}

header>div.header-container>div.header-cards>div.card>div.card-content:first-child img {
    width: 90%;
    height: 100%;
    border-radius: 20px;
}

header div.header-container div.header-cards div.card div.card-content:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

header div.header-container div.header-cards div.card div.card-content:nth-child(2) h4 {
    color: var(--background-nav);
    font-size: 1.75rem;
}

header div.header-container div.header-cards div.card div.card-content:nth-child(3) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

header div.header-container div.header-cards div.card div.card-content:nth-child(3) p {
    color: #000;
    font-size: 1.2rem;
}

header div.header-container div.header-cards div.card div.card-content:nth-child(4) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

header div.header-container div.header-cards div.card div.card-content:nth-child(4) button {
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: var(--background-nav);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

header div.header-container div.header-cards div.card div.card-content:nth-child(4) button:hover {
    background-color: var(--hover-nav-buttons);
    color: #000 !important;
}

/* End Header */


/* Section Order */

section.section-order {
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.section-order div.container-1 {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section.section-order div.container-1 div.card-online-order:first-child {
    width: 35%;
    height: 90%;
}

section.section-order div.container-1 div.card-online-order:first-child img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(20, 20, 18);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

section.section-order div.container-1 div.card-online-order:nth-child(2) {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-body);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(20, 20, 18);
}

section.section-order div.container-1 div.card-online-order:nth-child(2) h3 {
    color: var(--background-nav);
    font-size: 2rem;
}

section.section-order div.container-1 div.card-online-order:nth-child(2) p {
    color: #000;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 20px 0 0 20px;
}

/* End section Order */


/* Section 2 appointment */

section.section-appointment {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.section-appointment div.container-2 {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.section-appointment div.container-2 div.card-appointment {
    width: 50%;
    height: 90%;
    flex-wrap: wrap;
    display: flex;
    background-color: rgb(236, 233, 233);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(20, 20, 18);
}

section.section-appointment div.container-2 div.card-appointment div.part-appointment {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

section.section-appointment div.container-2 div.card-appointment div.part-appointment:nth-child(2) {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.section-appointment div.container-2 div.card-appointment div.part-appointment h3 {
    color: var(--background-nav);
    font-size: 1.9rem;
    width: 100%;
    text-align: center;
}

section.section-appointment div.container-2 div.card-appointment div.part-appointment p {
    color: #000;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 5px 0 0 2rem;
}

section.section-appointment div.container-2 div.card-appointment div.part-appointment form {
    width: 80%;
    height: 75%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.section-appointment div.container-2 div.card-appointment div.part-appointment form input[type="email"] {
    padding: 0.5rem 1rem;
    width: 50%;
    border-radius: 10px;
}

section.section-appointment div.container-2 div.card-appointment div.part-appointment form input[type="email"]:focus {
    outline: none;
    border: 2px solid #06010189;
    background-color: rgba(58, 56, 56, 0.854);
    box-shadow: #000 0px 0px 10px rgba(25, 25, 25, 0.749);
}

section.section-appointment div.container-2 div.card-appointment div.part-appointment form input[type="submit"] {
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    background-color: var(--background-nav);
    cursor: pointer;
    font-size: 1.1rem;
}

section.section-appointment div.container-2 div.card-appointment div.part-appointment form input[type="submit"]:hover {
    background-color: var(--hover-nav-buttons);
    color: #000;
}

section.section-appointment div.container-2 div.card-appointment div.part-appointment form input[type="file"] {
    width: 35%;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    color: #000;
    font-weight: 600;
    margin: 0 0 0 0rem;
}

section.section-appointment div.container-2 div.card-appointment div.part-appointment form label {
    font-weight: 600;
    font-size: 1.1rem;
}

section.section-appointment div.container-2 div.card-appointment div.part-appointment form label h5 {
    color: var(--background-nav);
    font-size: 1rem;
}

/* End Section 2 appointment */