.page1 {
  height: 87.5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top: 2px;
}

.containerr {
  justify-content: center;
  background-image: url("../Images/MAPhoto2.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 95%;
  height: 100%;
  /* border: solid 6px var(--background-nav); */
  border-radius: 25px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.8);
  padding: 10px;
  position: relative;
}

.box {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 20px;
  padding: 40px 30px;
  max-width: 415px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
}

.text h1,
.text h2 {
  margin-bottom: 15px;
  text-align: center;
  color: var(--background-nav);
  text-shadow: 0 0 2px #383939;
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #bdcace;
  width: 0;
  animation: typing 3s steps(30, end) forwards, blink 0.7s infinite;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.or-text {
  color: var(--background-nav);
  font-weight: bold;
  font-size: 30px;
}

.submit {
  background-color: var(--background-nav);
  color: #fff;
  padding: 12px 25px;
  border: 2px solid #000000;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease, color 0.3s ease;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  font-size: 1rem;
}

.submit:hover {
  color: rgb(0, 0, 0);
  background-color: var(--hover-nav-buttons);
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 4px solid var(--background-nav);
  border-radius: 20px;
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-top: 20px;
  backdrop-filter: blur(6px);
  justify-content: space-between;
}

.booking-form input,
.booking-form select {
  width: calc(50% - 10px);
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  border: 2px solid var(--background-nav);
  background-color: #ffffff;
  font-size: 16px;
  color: #4b4c4c;
  appearance: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.booking-form .submit1,
.booking-form .last-field {
  width: calc(50% - 10px);
}

.booking-form select option {
  background-color: #ffffff;
  color: var(--background-nav);
}

.booking-form input:hover,
.booking-form select:hover {
  border-color: var(--background-nav);
  background-color: rgba(240, 248, 248, 0.9);
  cursor: pointer;
}

.booking-form input:focus,
.booking-form select:focus {
  outline: none;
  border-color: var(--background-nav);
  box-shadow: 0 0 10px var(--background-nav);
}

.submit1 {
  background-color: var(--background-nav);
  color: #fff;
  padding: 12px 25px;
  border-radius: 15px;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  border: #000000 2px solid;
  cursor: pointer;
}

.submit1:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  color: rgb(0, 0, 0);
  background-color: var(--hover-nav-buttons);
}

.hidden {
  display: none;
  opacity: 0;
}

.visible {
  display: block !important;
  animation: fadeIn 1s ease forwards;
}

.page2 {
  padding: 70px 30px 60px 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#roomDetails {
  display: flex;
  justify-content: space-between;
  width: 95%;
  border: solid 4px var(--background-nav);
  border-radius: 25px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.8);
  padding: 20px;
  gap: 15px;
}

.text2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 55%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

.room-card {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 20px;
  width: 48%;
  height: 250px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  color: var(--background-nav);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.room-card h3 {
  margin-bottom: 10px;
  color: var(--background-nav);
}

.room-card p {
  color: #000;
}

.room-card ul {
  margin: 10px 0;
  padding-left: 20px;
  color: #000000;
}

.room-card ul li {
  color: #000;
}

.price {
  font-weight: bold;
  color: var(--background-nav) !important;
  margin-top: 10px;
}

.slider {
  width: 45%;
  height: 530px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.slides img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  border-radius: 15px;
}

img.displayslide {
  display: block;
}

img.displayslide {
  display: block;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--background-nav);
  color: #fff;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 8px;
}

.slider .prev {
  left: 10px;
}

.slider .next {
  right: 10px;
}

.slider .next:hover,
.slider .prev:hover {
  background-color: var(--hover-nav-buttons);
  color: rgb(0, 0, 0);
}